html{
    margin: 0%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    margin: 0px;
    top: 0;
    right: 0;
}
.portfolio-hero{
    background: url(../img/hero-web.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: white;
}
.portfolio-menu ul{
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 1.5rem;

}
.portfolio-menu ul li{
    margin: 0;
    list-style: none;
}
.portfolio-menu .menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio-profile{
    width: 650px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}
.portfolio-profile img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.portfolio-profile h1{
    font-weight: 300;
    margin: 15px;
    font-size: 3.2rem;
}
.portfolio-profile h2{
    font-weight: 300;
    margin: 0px;
    font-size: 2.2rem;

}
/*main */
main{
    margin: 0;
    padding: 0;
    background-color: aqua;
    text-align: center;
}
#about{
    
    padding: 45px;
    color: white;

}
#about h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
}
#about p{
    font-size: 1.5rem;
    font-weight: 300;
}
#skills{
    color: white;
    background-color: dark
    padding-top: 15px;
    
}
#skills h2{
    font-size: 2rem;
    font-weight: 300;
    margin: 20px 0px;
}
#skills h3{
    font-size: 1.8em;
    font-weight: 300;

}
#skill-main-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
#skill-main-grid h2{
    font-size:1.5rem;

}